/* General CSS */

#footer {
  text-align: center;
}

fieldset {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

fieldset legend {
  font-size: 1.2em;
  width:inherit; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none;
}

/* Google Map */
#map-canvas {
  /* aspect ratio 16:9 */
  height: 400px;
  width: 100%;
}

/* Ajax dimming */
#ajax-spinner {
    background-color: #333;
    opacity: 0.5;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../img/ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
}
