/* General CSS */

html {
    overflow-y:scroll;
}

#footer {
  text-align: center;
}

/*
fieldset {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

fieldset legend {
  font-size: 1.2em;
  width:inherit;
  padding:0 10px;
  border-bottom:none;
}
*/

#control-btn-group {
  margin-bottom: 15px;
}

.panel fieldset {
  margin: 5px 20px;
}

/* Google Map */
#map-canvas {
  /* aspect ratio 16:9 */
  height: 400px;
  width: 100%;
  border-radius: 5px;
}

/* Layout utilities */
.m-t-15 {
  margin-top: 15px !important;
}


/*
.modal .graphDiv {
  width: 25%;
}
*/
/* Ajax dimming */
#ajax-spinner {
    background-color: #333;
    opacity: 0.5;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../img/ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
}

.modal-dialog  {
  width:100%;
}

button.plot-zoom {
  display: none;
}

/*
#plot-zoom-div {
  display: none;
}
*/

pre {
    display: block;
    font-family: monospace;
    padding: 0px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: inherit;
    border: None;
}

@media screen and (min-width: 768px) {
	.modal-dialog  {
    width:90%;
  }

  #modal-plot-canvas {
    width: 80%;
    padding-left: 5%;
  }


  #plot-zoom-div {
    display: block;
    position: absolute;
    right: 44px;
    bottom: 16px;
  }

  button.plot-zoom {
    display: block;
  }

  #hover-text {
    margin-top: 15px
    display: block;
  }

}
