{% extends "base.html" %}

{% block title %}Online Rec. P.533-13 Propagation Prediction{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
  <meta name="description" content="Online HF propagation prediction using the ITU Recommendation P.533-13 Propagation Prediction Application.">
{% endblock %}

{% block page_content %}
<div id="ajax-spinner" style="display:none"></div>

<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Proppy</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.p2p_predict') }}">P2P</a></li>
        <li class="active"><a href="#">Area</a></li>
        <li><a href="{{ url_for('main.about') }}">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

<div class="container" style="max-width: 970px;">
	<div class="page-header">
		<h1>Proppy <small>HF Circuit Prediction: Area</small></h1>
	</div>
  <div id="flash-container"></div>
  <div class="row">
    <div class="col-sm-6">
      <div id="map-canvas"></div>
    </div>
    <div class="col-sm-6">
      <div id="plot-div"></div>
    </div>
  </div>

  <div class="modal fade" id="plot-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
      	   <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           <img src="#" id="modal-plot" alt="Prediction Plot" style="width: 100%;" >
         </div>
      </div>
    </div>
  </div>


	<form class="form-horizontal" method="post" id="parameters_form" action = "{{ url_for('ajax.areapredict') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="row m-t-15">
      <div class="col-sm-offset-5 col-sm-2 text-center">
        <button id="do-prediction-button" type="submit" class="btn btn-primary" disabled>
          Run Prediction
          <span class="glyphicon glyphicon glyphicon-refresh"></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <fieldset>
          <legend>System</legend>
          <input type="hidden" name="hour" />
          <input type="hidden" name="month" />
          <input type="hidden" name="year" />
          <div class='row'>
            <div class="form-group">
              <div class="col-sm-3">
                {{ form.sys_plot_type.label(class="control-label")}}
              </div>
              <div class="col-sm-9">
                {{ form.sys_plot_type(class="form-control") }}
              </div>
            </div>
          </div>

          <div class='row'>
            <div class="form-group">
              <div class="col-sm-3">
                <label class="control-label">Date / Time</label>
              </div>
              <div class="col-sm-9">
                <div class='input-group date' id='datetimepicker'>
                  <input type='text' class="form-control" name="date" required />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class='row'>
            <div class="form-group">
              <div class="col-sm-3">
                {{ form.sys_traffic.label(class="control-label")}}
              </div>
              <div class="col-sm-9">
                {{ form.sys_traffic(class="form-control") }}
              </div>
            </div>
          </div>

          <div class='row'>
            <div class="form-group">
              <div class="col-sm-3">
                {{ form.sys_freq.label(class="control-label")}}
              </div>
              <div class="col-sm-5">
                {{ form.sys_freq(class="form-control", type="number", value="10.0", min="2.0", max="30.0", step="0.05", required=true) }}
              </div>
            </div>
          </div>

          <div class='row'>
            <div class="form-group">
              <div class="col-sm-3">
                {{ form.sys_pwr.label(class="control-label")}}
              </div>
              <div class="col-sm-5">
               {{ form.sys_pwr(class="form-control", type="number", min="1", max="1000000000", step="1", value="100.0", required=true) }}
              </div>
            </div>
          </div> <!-- end of row -->
        </fieldset>
      </div>

      <!-- tx params -->
      <div class="col-sm-6">
        <fieldset>
          <legend>Tx. Site
            <img src="http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png" height="16" width="16" alt="Red Balloon">
            <button id="tx-geolocation-button" type="button" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true" aria-label="Geo"></span>
            </button>
          </legend>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                {{ form.tx_name.label(class="control-label") }}
              </div>
              <div class="col-sm-9">
                {{ form.tx_name(class="form-control", type="text") }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                {{ form.tx_lat_field.label(class="control-label")}}
              </div>
              <div class="col-sm-5">
                {{ form.tx_lat_field(class="form-control", id="tx_lat_field", onchange="txPositionChanged()", type="number", min="-90.0", max="90.0", step="any", required=true) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                {{ form.tx_lng_field.label(class="control-label")}}
              </div>
              <div class="col-sm-5">
                {{ form.tx_lng_field(class="form-control", id="tx_lng_field", onchange="txPositionChanged()", type="number", min="-180.0", max="180.0", step="any", required=true) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                {{ form.tx_gain.label(class="control-label")}}
              </div>
              <div class="col-sm-5">
                {{ form.tx_gain(class="form-control", type="number", min="0", max="20.0", step="0.01", value="2.16", required=true) }}
              </div>
            </div>
          </div>

        </fieldset>
      </div> <!-- end of tx params -->
    </div> <!-- end of input params row -->

	</form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<script>
  "use strict";
  var txMarker;

  function initMap() {
    var mapDiv = document.getElementById('map-canvas');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 0, lng: 0},
      zoom:1,
      streetViewControl: false,
      mapTypeControl: false,
      scaleControl: true,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      },
      mapTypeId: 'terrain'
    });

    txMarker = new google.maps.Marker({
      map: map,
      position: {lat: 0, lng: -30},
      draggable: true,
      icon: "http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png"
    });

    var geodesicOptions = {
      strokeColor: '#ff0000',
      strokeOpacity: 1.0,
      strokeWeight: 1,
      geodesic: true,
      map: map
    };

    /*
    google.maps.event.addDomListener(window, "resize", function() {
      console.log("resizing the map");
      var center = map.getCenter();
      google.maps.event.trigger(map, "resize");
      map.setCenter(center);c
    });
    */
    google.maps.event.addListener(txMarker, 'drag', txMapMarkerPositionChanged);
    $("#tx_lat_field").val(txMarker.getPosition().lat().toFixed(4));
    $("#tx_lng_field").val(txMarker.getPosition().lng().toFixed(4));
  }

  function showTxPosition(position) {
      if ( ($("#tx_lat_field").val() != position.coords.latitude.toFixed(4)) ||
          ($("#tx_lng_field").val() != position.coords.longitude.toFixed(4))) {
        $("#tx_lat_field").val(position.coords.latitude.toFixed(4));
        $("#tx_lng_field").val(position.coords.longitude.toFixed(4));
        txPositionChanged();
        inputHasChanged();
    }
  }

  function txMapMarkerPositionChanged(e) {
    inputHasChanged();
    $("#tx_lat_field").val(e.latLng.lat().toFixed(4));
    $("#tx_lng_field").val(e.latLng.lng().toFixed(4));
  }

  function txPositionChanged() {
    txMarker.setPosition(new google.maps.LatLng($('#tx_lat_field').val(), $('#tx_lng_field').val()));
  }

  function inputHasChanged() {
    $('#do-prediction-button').prop('disabled', false);
  }

  </script>


  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>


<script>
  $(function () {
    //var dateNow = new Date.();
    var date = new Date();
    var dateNow = new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
    $('#datetimepicker').datetimepicker({
      format: 'HH:00UTC MMM YYYY',
      minDate : moment("{{min_year}} {{min_month}}", "YYYY MM"),
      maxDate : moment("{{max_year}} {{max_month}}", "YYYY MM"),
      defaultDate:dateNow
    });
  });

  $(document)
  .ajaxStart(function(){
      $("#ajax-spinner").show();
  })
  .ajaxStop(function(){
      $("#ajax-spinner").hide();
  });

  $( '#parameters_form' ).submit( function( e ) {
    console.log('click');
    do_prediction(e.target);
    e.preventDefault();
  });


  function do_prediction(form) {
  	var form_obj = form;
    var dt = $("#datetimepicker").data("DateTimePicker").date();
    $("input[name='hour']").replaceWith(
      $('<input>').attr({
        type: 'hidden',
        name: 'hour',
        value: dt.format("H")
      })
    );
    $("input[name='month']").replaceWith(
      $('<input>').attr({
        type: 'hidden',
        name: 'month',
        value: dt.format("M")
      })
    );
    $("input[name='year']").replaceWith(
      $('<input>').attr({
        type: 'hidden',
        name: 'year',
        value: dt.format("YYYY")
      })
    );
    var form_url = $(form_obj).attr("action");
  	var form_data = new FormData(form);
  	$.ajax( {
  		url: form_url,
  		type: 'POST',
  		data: form_data,
      dataType: "json",
  		mimeType: "multipart/form-data",
  		processData: false,
  		contentType: false,
  		success: function(result) {
        console.log(JSON.stringify(result));
        var img_url = result['img_url'];
        $('#flash-container').empty();
        $('#modal-plot').attr('src', img_url);
        $('#plot-div').html('<img src="'+img_url+'" class="img-responsive"><a href="#" class="pop"><button type="button" class="btn btn-primary plot-zoom"><span class="glyphicon glyphicon glyphicon-zoom-in"></span></button></a>');
        $('#do-prediction-button').prop('disabled', true);
      },
      error: function(result) {
    			// Handle errors here
    			console.log('ERRORS: ' + JSON.stringify(result));
          var message = "";
          if (result.hasOwnProperty('responseJSON')) {
            console.log('have responseJSON');
            message = result['responseJSON']['statusText']
          } else if (result.hasOwnProperty('statusText')) {
            console.log('have status text');
            message = result['statusText'];
          } else {
            console.log('default');
            message = "An undefined error has occured.";
          }
          $('#flash-container').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>');
          $('#modal-plot').attr('src', '');
          $('#plot-div').empty();
          $('#do-prediction-button').prop('disabled', false);
    	}
  	});
  }
</script>
<script>
$(document).ready(function(){
    $('#parameters_form').on('change', function(e) {
      inputHasChanged();
    });

    $("#datetimepicker").on("dp.change", function (e) {
      inputHasChanged();
    });

    $('#tx-geolocation-button').on('click', function (e) {
      navigator.geolocation.getCurrentPosition(showTxPosition);
    });

    $('#do-prediction-button').prop('disabled', false);

    $(document).on("click", ".pop",function() {
			$('#plot-modal').modal('show');
		});



});
</script>
{% endblock %}
