{% extends "bootstrap/base.html" %}

{% block metas %}
    <meta charset="UTF-8">
    {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
    <!-- <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/proppy.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container">
  {% block page_content %}
  {% endblock %}
    {% block footer %}
      <div class='clearfix'></div>
      <div id="footer">
        <script type="text/javascript" language="javascript">
          <!--
          // Email obfuscator script 2.1 by Tim Williams, University of Arizona
          // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
          // This code is freeware provided these four comment lines remain intact
          // A wizard to generate this code is at http://www.jottings.com/obfuscator/
          var coded = "C8S3N0fIP@SNF.FIS"
          var key = "XjixkTWmlnBv0OJdzRC8p2LbS7P5ocEqeHVwhMs1uaGK6IFQU4yr3ADfgtNZ9Y"
          var shift = coded.length
          link=""
          for (i=0; i<coded.length; i++) {
            if (key.indexOf(coded.charAt(i))==-1) {
              ltr = coded.charAt(i)
              link += (ltr)
            } else {
              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
              link += (key.charAt(ltr))
            }
          }
          document.write("&copy; 2016 <a href='mailto:"+link+"'>James Watson</a>.")
        </script>
        <noscript>
          &copy; 2016 James Watson.
        </noscript>
      </div>
    {% endblock %}
</div>
{% endblock %}
