{% extends "base.html" %}

{% block title %}Proppy{% endblock %}

{% block head %}
  {{ super() }}
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css')}}">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

{% endblock %}

{% block page_content %}
<div class="container" style="max-width: 970px;">
	<div class="page-header">
		<h1>Proppy <small>HF Circuit Prediction: Point-to-Point</small></h1>
	</div>
	<div id="plot-div"><!-- Plotly chart will be drawn inside this DIV --></div>
	<form class="form-horizontal" role="form" method="post" id="parameters_form" action = "{{ url_for('ajax.predict') }}" enctype="multipart/form-data">

    <div class="row">
        <div class="col-sm-12">
          <fieldset>
            <legend>System</legend>
            <!-- https://github.com/eternicode/bootstrap-datepicker -->

        <input type="hidden" name="month" />
        <input type="hidden" name="year" />

        <div class="form-group">
          <div class="col-sm-1">
            <label class="control-label">Date</label>
          </div>
          <div class="col-sm-3">
          <div class='input-group date' id='datetimepicker'>
            <input type='text' class="form-control" name="date"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>

         <div class="col-sm-2">
           {{p2p_form.sys_traffic.label(class="control-label")}}
         </div>
         <div class="col-sm-2">
           {{ p2p_form.sys_traffic(class="form-control", type="text") }}
         </div>
         <div class="col-sm-2">
           {{p2p_form.sys_pwr.label(class="control-label")}}
         </div>
         <div class="col-sm-2">
           {{ p2p_form.sys_pwr(class="form-control", type="number", min="1", max="1000000000", step="1", value="100.0", required=true) }}
         </div>
       </div>
     </fieldset>
      </div>
    </div>

    <div class="row">
    <!-- tx params -->
    <div class="col-sm-6">
      <fieldset>
        <legend>Tx. Site</legend>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.tx_name.label(class="control-label")}}
            </div>
            <div class="col-sm-9">
              {{ p2p_form.tx_name(class="form-control", type="text") }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.tx_lat.label(class="control-label")}}
            </div>
            <div class="col-sm-9">
              {{ p2p_form.tx_lat(class="form-control", type="number", min="-90.0", max="90.0", step="0.01", required=true) }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.tx_lon.label(class="control-label")}}
            </div>
            <div class="col-sm-9">
              {{ p2p_form.tx_lon(class="form-control", type="number", min="-180.0", max="180.0", step="0.01", required=true) }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.tx_gain.label(class="control-label")}}
            </div>
            <div class="col-sm-9">
              {{ p2p_form.tx_gain(class="form-control", type="number", min="0", max="20.0", step="0.01", value="2.16", required=true) }}
            </div>
          </div>
        </div>


      </fieldset>
    </div> <!-- end of tx params -->

    <div class="col-sm-6">
      <fieldset>
        <legend>Rx.Site</legend>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.rx_name.label(class="control-label")}}
            </div>
            <div class="col-sm-9">
              {{ p2p_form.rx_name(class="form-control", type="text") }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.rx_lat.label(class="control-label")}}
            </div>
            <div class="col-sm-9">
              {{ p2p_form.rx_lat(class="form-control", type="number", min="-90.0", max="90.0", step="0.01", required=true) }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.rx_lon.label(class="control-label")}}
            </div>
            <div class="col-sm-9">
              {{ p2p_form.rx_lon(class="form-control", type="number", min="-180.0", max="180.0", step="0.01", required=true) }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.rx_gain.label(class="control-label")}}
            </div>
            <div class="col-sm-9">
              {{ p2p_form.rx_gain(class="form-control", type="number", min="0", max="20.0", step="0.01", value="2.16", required=true) }}
            </div>
          </div>
        </div>
      </fieldset>
    </div> <!-- end of rx params -->
  </div> <!-- end of input params row -->

  <div class="row">
    <div class="form-group">
       <div class="col-sm-1">
         <input id="submit" name="submit" class="btn btn-default" type="submit" value="Submit"/>
       </div>
    </div>
  </div>

	</form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<script>

  $(function () {
    $('#datetimepicker').datetimepicker({
      viewMode : 'months',
      format: 'MMM YYYY',
      minDate : moment("{{min_year}} {{min_month}}", "YYYY MM"),
      maxDate : moment("{{max_year}} {{max_month}}", "YYYY MM"),
      useCurrent : true
    });
  });

  $( '#parameters_form' ).submit( function( e ) {
    do_prediction(e.target);
    e.preventDefault();
  });

function do_prediction(form) {
	$("#loading_screen").show();
	var form_obj = form;
  var dt = $("#datetimepicker").data("DateTimePicker").date();
  $("input[name='month']").replaceWith(
    $('<input>').attr({
      type: 'hidden',
      name: 'month',
      value: dt.format("M")
    })
  );
  $("input[name='year']").replaceWith(
    $('<input>').attr({
      type: 'hidden',
      name: 'year',
      value: dt.format("YYYY")
    })
  );
  /*
  $('<input>').attr({
    type: 'hidden',
    name: 'month',
    value: dt.format("M")
  }).appendTo('form');

  $('<input>').attr({
    type: 'hidden',
    name: 'year',
    value: dt.format("YYYY")
  }).appendTo('form');
  */
	var form_url = $(form_obj).attr("action");
	var form_data = new FormData(form);
	$.ajax( {
		url: form_url,
		type: 'POST',
		data: form_data,
    dataType: "json",
		mimeType: "multipart/form-data",
		processData: false,
		contentType: false,
		success: function(result) {

    result['colorscale'] = 'Jet';
    //console.log(result);
    //console.log(window.innerWidth);

    if (window.innerWidth >= 768) {
      result['p']['colorbar'] = {
        tickmode:'array',
        tickvals:[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        ticksuffix:'%',
        title: 'Reliability (%)',
        titleside: 'right',
        titlefont: {
          size: 14,
          family: 'Arial, sans-serif'
        }
      };
    } else {
      result['p']['colorbar'] = {
        tickmode:'array',
        tickvals:[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        thickness:10,
        xpad:4
      };
    }

    var layout = {
      xaxis: {
        title: 'Time (UTC)',
        range: [0, 24],
        tick0: 0,
        dtick: 2,
        titlefont: {
          family: 'Arial, sans-serif',
          size: 14,
          color: '#7f7f7f'
        },
      },
      yaxis: {
        title: 'Frequency / MHz',
        range: [2, 30],
        titlefont: {
          family: 'Arial, sans-serif',
          size: 14,
          color: '#7f7f7f'
        }
      },
      margin: {
        l: 50,
        r: 50,
        b: 50,
        t: 50,
        pad: 4
      },
    };

    Plotly.newPlot('plot-div', [result['p'], result['m']], layout);
  },
	error: function(result) {
			// Handle errors here
			//
			ajax_complete_msg = "Error";
			console.log('ERRORS: ' + result);
		},
		complete: function() {
			$("#loading_screen").hide();
		}
	});
}

window.onresize = function() {
  var update = {
    width: $('#plot-div').width()
  }
  Plotly.relayout('plot-div', update)
};

</script>
{% endblock %}
