{% extends "base.html" %}

{% block title %}Online Rec. P.533-13 Propagation Prediction{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
  <meta name="description" content="Online HF propagation prediction using the ITU Recommendation P.533-13 Propagation Prediction Application.">
{% endblock %}

{% block page_content %}
<div id="ajax-spinner" style="display:none"></div>

<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Proppy</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">P2P</a></li>
        <li><a href="{{ url_for('main.area_predict') }}">Area</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>


<div class="container" style="max-width: 970px;">
	<div class="page-header">
		<h1>Proppy <small>HF Circuit Prediction: Point-to-Point</small></h1>
	</div>
  <div class="row">
    <div class="col-sm-6">
      <div id="map-canvas"></div>
    </div>
    <div class="col-sm-6">
      <div id="plot-div">
        <button id="refresh-button" type="button" class="btn btn-warning" style="display:none">
          <span class="glyphicon glyphicon glyphicon-refresh"></span>
        </button>
      </div>
    </div>
  </div>

	<form class="form-horizontal" role="form" method="post" id="parameters_form" action = "{{ url_for('ajax.predict') }}" enctype="multipart/form-data">
    {{ p2p_form.csrf_token }}
    <div class="row">
        <div class="col-sm-12">
          <fieldset>
            <legend>System</legend>
            <!-- https://github.com/eternicode/bootstrap-datepicker -->

        <input type="hidden" name="month" />
        <input type="hidden" name="year" />

        <div class="form-group">
          <div class="col-sm-1">
            <label class="control-label">Date</label>
          </div>
          <div class="col-sm-2">
          <div class='input-group date' id='datetimepicker'>
            <input type='text' class="form-control" name="date", required=true/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>

         <div class="col-sm-1">
           {{p2p_form.sys_traffic.label(class="control-label")}}
         </div>
         <div class="col-sm-2">
           {{ p2p_form.sys_traffic(class="form-control", type="text") }}
         </div>
         <div class="col-sm-1">
           {{p2p_form.sys_pwr.label(class="control-label")}}
         </div>
         <div class="col-sm-2">
           {{ p2p_form.sys_pwr(class="form-control", type="number", min="1", max="1000000000", step="1", value="100.0", required=true) }}
         </div>

         <div class="col-sm-1">
           {{p2p_form.sys_plot_type.label(class="control-label")}}
         </div>
         <div class="col-sm-2">
           {{ p2p_form.sys_plot_type(class="form-control") }}
         </div>
       </div>
     </fieldset>
      </div>
    </div>

    <div class="row">
    <!-- tx params -->
    <div class="col-sm-6">
      <fieldset>
        <legend>Tx. Site
          <img src="http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png" height="16" width="16" alt="Red Balloon">
          <button id="tx-geolocation-button" type="button" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true" aria-label"Geo"></span>
          </button>
        </legend>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.tx_name.label(class="control-label")}}
            </div>
            <div class="col-sm-9">
              {{ p2p_form.tx_name(class="form-control", type="text") }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.tx_lat.label(class="control-label")}}
            </div>
            <div class="col-sm-5">
              {{ p2p_form.tx_lat(class="form-control", id="tx-lat-field", onchange="txPositionChanged()", type="number", min="-90.0", max="90.0", step="any", required=true) }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.tx_lon.label(class="control-label")}}
            </div>
            <div class="col-sm-5">
              {{ p2p_form.tx_lon(class="form-control", id="tx-lng-field", onchange="txPositionChanged()", type="number", min="-180.0", max="180.0", step="any", required=true) }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.tx_gain.label(class="control-label")}}
            </div>
            <div class="col-sm-5">
              {{ p2p_form.tx_gain(class="form-control", type="number", min="0", max="20.0", step="0.01", value="2.16", required=true) }}
            </div>
          </div>
        </div>


      </fieldset>
    </div> <!-- end of tx params -->

    <div class="col-sm-6">
      <fieldset>
        <legend>Rx.Site
          <img src="http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png" height="16" width="16" alt="Blue Balloon">
          <button id="rx-geolocation-button" type="button" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true" aria-label"Geo"></span>
          </button>
        </legend>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.rx_name.label(class="control-label")}}
            </div>
            <div class="col-sm-9">
              {{ p2p_form.rx_name(class="form-control", type="text") }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.rx_lat.label(class="control-label")}}
            </div>
            <div class="col-sm-5">
              {{ p2p_form.rx_lat(class="form-control", id="rx-lat-field", onchange="rxPositionChanged()", type="number", min="-90.0", max="90.0", step="any", required=true) }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.rx_lon.label(class="control-label")}}
            </div>
            <div class="col-sm-5">
              {{ p2p_form.rx_lon(class="form-control", id="rx-lng-field", onchange="rxPositionChanged()", type="number", min="-180.0", max="180.0", step="any", required=true) }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              {{p2p_form.rx_gain.label(class="control-label")}}
            </div>
            <div class="col-sm-5">
              {{ p2p_form.rx_gain(class="form-control", type="number", min="0", max="20.0", step="0.01", value="2.16", required=true) }}
            </div>
          </div>
        </div>
      </fieldset>
    </div> <!-- end of rx params -->
  </div> <!-- end of input params row -->

  <div class="row">
    <div class="form-group">
       <div class="col-sm-1">
         <input name="submit" disabled="disabled" id="submit-button" class="btn btn-default" type="submit" value="Submit"/>
       </div>
    </div>
  </div>

	</form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<script>
  "use strict";
  var gcPath;
  var txMarker;
  var rxMarker;
  var plotIsVisible = false;

  function initMap() {
    var mapDiv = document.getElementById('map-canvas');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 0, lng: 0},
      zoom:1,
      streetViewControl: false,
      mapTypeControl: false,
      scaleControl: true,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      },
      mapTypeId: 'terrain'
    });

    txMarker = new google.maps.Marker({
      map: map,
      position: {lat: 0, lng: -30},
      draggable: true,
      icon: "http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png"
    });

    rxMarker = new google.maps.Marker({
      map: map,
      position: {lat: 0, lng: 30},
      draggable: true,
      icon: "http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png"
    });

    var geodesicOptions = {
      strokeColor: '#ff0000',
      strokeOpacity: 1.0,
      strokeWeight: 1,
      geodesic: true,
      map: map
    };

    gcPath = new google.maps.Polyline(geodesicOptions);
    /*
    google.maps.event.addDomListener(window, "resize", function() {
      console.log("resizing the map");
      var center = map.getCenter();
      google.maps.event.trigger(map, "resize");
      map.setCenter(center);c
    });
    */
    google.maps.event.addListener(txMarker, 'drag', txMapMarkerPositionChanged);
    google.maps.event.addListener(rxMarker, 'drag', rxMapMarkerPositionChanged);
    $("#tx-lat-field").val(txMarker.getPosition().lat().toFixed(4));
    $("#tx-lng-field").val(txMarker.getPosition().lng().toFixed(4));
    $("#rx-lat-field").val(rxMarker.getPosition().lat().toFixed(4));
    $("#rx-lng-field").val(rxMarker.getPosition().lng().toFixed(4));
    updateGCPath();
  }

  function showTxPosition(position) {
    $("#tx-lat-field").val(position.coords.latitude.toFixed(4));
    $("#tx-lng-field").val(position.coords.longitude.toFixed(4));
    txPositionChanged();
  }

  function showRxPosition(position) {
    $("#rx-lat-field").val(position.coords.latitude.toFixed(4));
    $("#rx-lng-field").val(position.coords.longitude.toFixed(4));
    rxPositionChanged();
  }

  function txMapMarkerPositionChanged(e) {
    inputHasChanged();
    $("#tx-lat-field").val(e.latLng.lat().toFixed(4));
    $("#tx-lng-field").val(e.latLng.lng().toFixed(4));
    updateGCPath();
  }

  function rxMapMarkerPositionChanged(e) {
    inputHasChanged();
    $("#rx-lat-field").val(e.latLng.lat().toFixed(4));
    $("#rx-lng-field").val(e.latLng.lng().toFixed(4));
    updateGCPath();
  }

  function txPositionChanged() {
    txMarker.setPosition(new google.maps.LatLng($('#tx-lat-field').val(), $('#tx-lng-field').val()));
    updateGCPath();
  }

  function rxPositionChanged() {
    rxMarker.setPosition(new google.maps.LatLng($('#rx-lat-field').val(), $('#rx-lng-field').val()));
    updateGCPath();
  }

  function updateGCPath() {
    //console.log($('#tx-lat-field').val());
    var txPosition = new google.maps.LatLng($('#tx-lat-field').val(), $('#tx-lng-field').val());
    var rxPosition = new google.maps.LatLng($('#rx-lat-field').val(), $('#rx-lng-field').val());
    gcPath.setPath([txPosition, rxPosition]);
  }

  function inputHasChanged() {
    if (plotIsVisible) {
      $("#refresh-button").show();
    }
  }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

  <script>
  $(function () {
    var dateNow = new Date();
    $('#datetimepicker').datetimepicker({
      viewMode : 'months',
      format: 'MMM YYYY',
      minDate : moment("{{min_year}} {{min_month}}", "YYYY MM"),
      maxDate : moment("{{max_year}} {{max_month}}", "YYYY MM"),
      defaultDate:dateNow
    });
  });

  $(document)
  .ajaxStart(function(){
      $("#ajax-spinner").show();
  })
  .ajaxStop(function(){
      $("#ajax-spinner").hide();
  });

  $( '#parameters_form' ).submit( function( e ) {
    do_prediction(e.target);
    e.preventDefault();
  });

  function do_prediction(form) {
  	var form_obj = form;
    var dt = $("#datetimepicker").data("DateTimePicker").date();
    $("input[name='month']").replaceWith(
      $('<input>').attr({
        type: 'hidden',
        name: 'month',
        value: dt.format("M")
      })
    );
    $("input[name='year']").replaceWith(
      $('<input>').attr({
        type: 'hidden',
        name: 'year',
        value: dt.format("YYYY")
      })
    );
    var form_url = $(form_obj).attr("action");
  	var form_data = new FormData(form);
  	$.ajax( {
  		url: form_url,
  		type: 'POST',
  		data: form_data,
      dataType: "json",
  		mimeType: "multipart/form-data",
  		processData: false,
  		contentType: false,
  		success: function(result) {

      result['colorscale'] = 'Jet';
      //console.log(result);

      if (window.innerWidth >= 768) {
        var titlefont = {
          size: 14,
          family: 'Arial, sans-serif'
        };
        result['p']['colorbar']['tickmode'] = 'array';
        result['p']['colorbar']['titleside'] = 'right';
        result['p']['colorbar']['titlefont'] = titlefont;
      } else {
        result['p']['colorbar'] = {
          tickmode:'array',
          thickness:10,
          xpad:4
        };
      }
      //console.log(result['p']['colorbar']);
      var layout = {
        xaxis: {
          title: 'Time (UTC)',
          range: [0, 24],
          tick0: 0,
          dtick: 2,
          titlefont: {
            family: 'Arial, sans-serif',
            size: 14,
            color: '#7f7f7f'
          },
        },
        yaxis: {
          title: 'Frequency / MHz',
          range: [2, 30],
          titlefont: {
            family: 'Arial, sans-serif',
            size: 14,
            color: '#7f7f7f'
          }
        },
        margin: {
          l: 50,
          r: 50,
          b: 50,
          t: 50,
          pad: 4
        },
      };
      Plotly.newPlot('plot-div', [result['p'], result['m']], layout);
      /*Shift the map around to accomodate the plot */
      plotIsVisible = true;
      $("#refresh-button").hide();
      $('#map-canvas').css('margin-top', '50px');
    },
  	error: function(result) {
  			// Handle errors here
  			//
  			ajax_complete_msg = "Error";
  			console.log('ERRORS: ' + result);
  		}
  	});
  }

  window.onresize = function() {
    var update = {
      width: $('#plot-div').width()
    }
    Plotly.relayout('plot-div', update)
  };

</script>

<script>
$(document).ready(function(){
    $('#refresh-button').on('click', function (e) {
      do_prediction($('#parameters_form')[0]);
    });

    $('#parameters_form').on('change', function(e) {
      inputHasChanged();
    });

    $("#datetimepicker").on("dp.change", function (e) {
      inputHasChanged();
    });

    $('#tx-geolocation-button').on('click', function (e) {
      navigator.geolocation.getCurrentPosition(showTxPosition);
    });

    $('#rx-geolocation-button').on('click', function (e) {
      navigator.geolocation.getCurrentPosition(showRxPosition);
    })

    $("#submit-button").prop("disabled", false);
});
</script>
{% endblock %}
